<h1>
  Login Page
</h1>

<form (ngSubmit) = "onLogin()" [formGroup] = "userLogin">
  

  <div class="form-group">
    <label for="psw"><b>Username</b></label>
    <input placeholder="username" formControlName="username"><br>
    
    <label for="psw"><b>Password</b></label>
    <input type = "password" placeholder = "password" formControlName = "password"><br>

    <!-- <button type="submit" (click)="goToHome()">Login</button><br> -->

    <button type = "submit" [disabled]= "userLogin.invalid || loading">Login</button>

  
    <!-- <label><br>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label> -->
  </div>

  <!-- <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->
  <!-- <p>Don't have account please <a [routerLink]="['/register']">Register here</a></p> -->
</form>

<!-- <h1>Login</h1>
<form (ngSubmit)="onLogin()" [formgroup]="userLogin">
  <div >

  </div>

</form> -->