<!-- <div class="container">
  <div class="reglist">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>title</th>
          <th>text</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ post.title }}</td>
          <td>{{ post.text }}</td>
  
          <td>
            <button type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <button type="submit" class="btn btn-primary" (click)="onNew()">New</button>
    </div>
  </div>
  <br>
  <div class="regentry" *ngIf="showNew">
    <form (ngSubmit)="onSave()">
      <div class="form-group row">
        <label for="firstname-input" class="col-2 col-form-label">Title</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="regModel.title" name="title">
        </div>
      </div>
      <div class="form-group row">
        <label for="lastname-input" class="col-2 col-form-label">Text</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="regModel.text" name="text">
        </div>
      </div>
      
      <button type="submit" class="btn btn-success">{{submitType}}</button>
      <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
    </form>
  </div>
</div> -->