<!-- <app-category></app-category> -->

<!-- <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success">New Post</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <a
        style="cursor: pointer;"
        class="list-group-item clearfix"
        *ngFor="let post of posts">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ post.title }}</h4>
          <p routerLinkActive="active"><a routerLink="/postdetail">{{ post.text }}</a></p>
          
        </div><hr>
      </a>
      <app-post-category></app-post-category>
    </div>
  </div> -->